.container__small-card{
  width: 700px;
  margin-bottom: 15px;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 150px;
  min-width: 150px;
  margin-right: 20px;
  border-bottom-left-radius: 20%;
  border-top-left-radius: 20%;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
